:root {
    --colorPrincipal: #CCCCCC;
    --colorPrincipalOscurecido: #9C9C9C;
    --negro: #000000;
  }
  

/* Responsive */
@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }
  
  .left-column,
  .right-column {
    width: 100%;
  }
  
  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}
   
@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}

/* Basic Styling */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
}
  
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

/* Columns */
.left-column {
  width: 65%;
  position: relative;
  margin-right: 30px;
}
  
.right-column {
  width: 35%;
  margin-top: 60px;
}

/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 18px;
  color: var(--colorPrincipal);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: var(--colorPrincipal);
  letter-spacing: -2px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: var(--colorPrincipal);
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
  
.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: var(--colorPrincipal);
  margin-right: 20px;
  padding-top: 20px;
}
  
.cart-btn {
  display: inline-block;
  background-color: var(--colorPrincipal);
  border-radius: 6px;
  font-size: 16px;
  color: var(--negro);;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
  padding-top: 20px;
}

.cart-btn-sold {
  display: inline-block;
  background-color: var(--colorPrincipal);
  border-radius: 6px;
  font-size: 16px;
  color: var(--negro);;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
  pointer-events: none;
  padding-top: 20px;
}

.cart-btn:hover {
  background-color: var(--colorPrincipalOscurecido);
}

.cart-btn-sold:hover {
  background-color: var(--colorPrincipalOscurecido);
}