/**Root**/
:root {
  --colorPrincipal: #CCCCCC;
  --activo: #ccc2c2;
  --encima: rgb(44, 44, 44);
  --blanco: white;
  --fondo: rgb(53, 53, 53);
  --texto: #ddd;
}


/**Parallax**/

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.parallax-1 {
  /* The image used */
  background-image: url("../rsc/bg/0eaf12db398bb414cf63d9a6fc4fda9a.jpeg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-2 {
  /* The image used */
  background-image: url("../rsc/bg/thumb2-4k-black-asphalt-background-black-stones-grunge-backgrounds-black-asphalt.jpeg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-3 {
  /* The image used */
  background-image: url("../rsc/bg/0eaf12db398bb414cf63d9a6fc4fda9a.jpeg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #282E34;
}

.caption span.border {
  /*
  Recuadro de color gris del fondo del logo
  background-color: #282E34;
  */
  color: #fff;
  font-size: 100px;
  padding: 10px;
}

.caption span.segundo {
  background-color:transparent;
  font-size:25px;
  color: #f7f7f7;
  padding: 18px;
  letter-spacing: 10px;
}
  
.parallax-1, .parallax-2, .parallax-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logoSmall{
  width: 60%;
}

@media screen and (min-width: 550px) {
  .logoSmall{
    width: 40%;
  }
}

@media screen and (min-width: 750px) {
  .logoSmall{
    width: 20%;
  }
}

.relativo{
  position:relative;
}

.separador{
  color:#ddd;
  background-color:#282E34;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}

/**Cuerpo**/

body {
  background-color: #282E34;
}

